.App {
  text-align: center;
}
ul{
  list-style-type: none;

}
li a{
text-decoration: none;
margin-left:1rem;
color:black;
}
li a:hover {
  color: grey;
}
.brand{
  font-weight: bolder;
}
.name{
 color: rgb(46, 196, 196);
}
.home-p{
  font-weight: bolder;
}
.main{
  justify-content: center;
  align-items: center;
  text-align: center;
  display:grid ;
  grid-template-columns: 1fr 1fr;
  margin-top:10rem;
  
}
.article-pic{
  height:20rem;
  width: 20rem;
}
.infos{
text-align: left;
margin-left:10rem;
}
.article-socialMedia {
  margin-left:6rem;
}

.article-socialMedia li a{
  float: left;
  display: right;
}

.products{
  margin-top: 2rem;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr 1fr;
}

.images{
  height:20rem;
  width:15rem;
}

.aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top:5rem;
}

.aboutme-info{
text-align:right;
}
.aboutme-cert{
  text-align: right;
}
h5{
  text-align: right;
}